.element {
  width: 0.512rem;
  width: 0.64rem;
  width: 0.8rem;
  width: 1.25rem;
  width: 1.5625rem;
  width: 1.953125rem;
  width: 2.44140625rem;
  width: 3.0517578125rem;
  width: 3.8146972656rem;
  height: 0.64em;
  height: 0.8em;
  height: 12.5px;
  height: 15.625px;
}
