/* prettier-ignore */
.element {
  width: clamp(9.375rem, 9.375rem + 13.3333333333vw, 12.5rem);
  height: max(2.5rem, 2.3350923483rem + 0.7036059807vw);
  padding: max(0.5rem, 0.4175461741rem + 0.3518029903vw)
    max(0.75rem, 0.5026385224rem + 1.055408971vw);
}
@media print, screen and (width >= 90em) {
  .element {
    width: clamp(11.25rem, 10.5921052632rem + 2.8070175439vw, 17.1875rem);
  }
}
