# VERCEL
NEXT_PUBLIC_VERCEL_ENV=development
NEXT_PUBLIC_VERCEL_URL=localhost:2000

# GOOGLE
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION_ID=xxx

## MAPBOX
NEXT_PUBLIC_MAPBOX_API_KEY=xxx

# DATO
DATOCMS_API_TOKEN=xxx
NEXT_PUBLIC_DATOCMS_READONLY_TOKEN=xxx
NEXT_PUBLIC_DATOCMS_ENVIRONMENT=xxx

# RR
ROCKET_REZ_API_BASE_URL=https://secure.rocket-rez.com/api
ROCKET_REZ_CLIENT_ID=xxx
ROCKET_REZ_CLIENT_SECRET=xxx
ROCKET_REZ_PAYMENTS_API_IFRAME_URL=https://secure.rocket-rez.com/RocketHeadlessClient
ROCKET_REZ_PAYMENTS_API_PROVIDER_ID=xxx
ROCKET_REZ_API_SCOPES=xxx
ROCKET_REZ_WEB_ENGINE_EID=xxx

## TYPESENSE
TYPESENSE_BASE_URL=http://typesense:8108
TYPESENSE_API_KEY=xxx

# DATABASE
DATABASE_URL=xxx
DATABASE_URL_NON_POOLING=xxx

# MIDDLEWARE
MIDDLEWARE_AUTH_TOKEN=xxx

## SENDLANE
SENDLANE_API_BASE_URL=https://api.sendlane.com/v2
SENDLANE_API_TOKEN=xxx

# HUBSPOT
HUBSPOT_ACCESS_TOKEN=xx
HUBSPOT_PORTAL_ID=xx

# TOOLS
ADMIN_TOOLS_PASSWORD=xx

# ZAPIER
ZAPIER_GIFT_CARD_WEBHOOK_URL=xxx
