@use '../../styles/styleguide' as sg;
@use '../../styles/core/unit' as u;

/* ===================================================== */
/* Section Media Gallery */
/* ===================================================== */

.section {
  @include sg.section-config;

  & {
    position: relative;
    overflow: hidden;
    padding-block: sg.spacing(xlarge);
    padding-inline: sg.spacing(regular);

    @include sg.min(laptopSmall) {
      padding-block: sg.spacing(xxxlarge);
      padding-inline: sg.spacing(xlarge);
    }
  }
}

.title {
  margin-bottom: sg.spacing(regular);
  font-family: sg.font-family(anton);
  font-size: sg.font-size(medium);
  font-weight: sg.font-weight(medium);
  line-height: sg.line-height('100%');
  text-transform: uppercase;

  @include sg.min(laptopSmall) {
    margin-bottom: sg.spacing(medium);
    font-size: sg.font-size(xlarge);
  }
}

.media {
  position: relative;
  width: 100%;
  min-width: u.rem-calc(314);
  aspect-ratio: 700 / 500;
}

.mediaWrapper {
  width: 100%;
}

/* ===================================================== */
/* Slider */
/* ===================================================== */

.slider {
  :global(.swiper-wrapper) {
    transition-timing-function: sg.easing('easeOutExpo');
  }

  &:global(.swiper) {
    contain: layout paint;
    isolation: isolate;
    padding-inline: sg.spacing(regular);
    margin-inline: calc(sg.spacing(large) * -1) calc(sg.spacing(regular) * -1);

    @include sg.min(laptopSmall) {
      padding-inline: calc(sg.spacing(xlarge) - sg.spacing(regular))
        sg.spacing(xlarge);
      margin-inline: calc(sg.spacing(xlarge) * -1);
    }
  }

  &__slide {
    flex: 1 0 50%;
    padding-left: sg.spacing(regular);

    // Optimize rendering of off-screen slides
    content-visibility: auto;
    contain-intrinsic-size: auto u.rem-calc(314);
  }

  &__actions {
    margin-top: sg.spacing(xxsmall);
    padding-left: sg.spacing(regular);

    @include sg.min(laptopSmall) {
      margin-top: sg.spacing(medium);
    }
  }
}
