@use '../../../../styles/styleguide' as sg;
@use '../../../../styles/core/unit' as u;

.container {
  position: relative;
  padding-top: sg.spacing(medium);
  border-top: u.rem-calc(1) dashed sg.color(border-dark);
}

.header {
  display: flex;
  flex-direction: column;
  gap: sg.spacing(regular);
  margin-bottom: sg.spacing(medium);

  @include sg.min(tabletLandscape) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.tabs {
  list-style-type: none;
  display: flex;
  gap: sg.spacing(regular);
  line-height: sg.line-height('100%');

  &__button {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    font-family: sg.font-family(anton);
    font-size: sg.font-size('18px');
    font-weight: sg.font-weight(400);
    line-height: sg.line-height('100%');
    text-transform: uppercase;
    color: sg.color(black-50);
    cursor: pointer;
    appearance: none;
    transition: color 0.2s ease-in-out;

    &.active {
      color: sg.color(black);
    }
  }
}

.info {
  display: flex;
  align-items: center;
  gap: sg.spacing(xsmall);
  font-size: sg.font-size(small);
  line-height: sg.line-height('120%');

  &__icon {
    color: sg.color(orange);
  }
}

.supercars {
  display: flex;
  flex-direction: column;
  gap: sg.spacing(xsmall);

  @include sg.min(tabletLandscape) {
    gap: sg.spacing(regular);
  }
}
