@use '../../styles/styleguide' as sg;
@use '../../styles/core/unit' as u;

.option {
  position: relative;
  padding-left: sg.spacing(medium);
  font-size: sg.font-size(regular);
  line-height: sg.line-height('120%');
  cursor: pointer;

  &:has(input:checked) {
    &::before {
      border-color: sg.color(black);
      background-color: sg.color(black);
    }

    &::after {
      opacity: 1;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: u.rem-calc(2);
    left: 0;
    width: u.rem-calc(16);
    height: u.rem-calc(16);
    border: u.rem-calc(1) solid sg.color(black-20);
    background-color: sg.color(white);
  }

  &::after {
    content: '';
    position: absolute;
    top: u.rem-calc(4);
    left: u.rem-calc(5);
    transform: rotate(45deg);
    width: u.rem-calc(6);
    height: u.rem-calc(10);
    border-width: 0 u.rem-calc(2) u.rem-calc(2) 0;
    border-style: solid;
    border-color: sg.color(white);
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  input {
    position: absolute;
    top: u.rem-calc(2);
    left: 0;
    width: u.rem-calc(16);
    height: u.rem-calc(16);
    padding: 0;
    border: 0;
    white-space: nowrap;
    appearance: none;

    &:focus-visible {
      outline: u.rem-calc(2) solid sg.color(orange);
      outline-offset: u.rem-calc(-1);
    }
  }
}
