@use '../../styles/styleguide' as sg;
@use '../../styles/core/unit' as u;

.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: sg.color(white);
  opacity: 0.9;
  z-index: sg.zindex(foreground);
  pointer-events: none;
}
