@use '../../../../styles/styleguide' as sg;
@use '../../../../styles/core/unit' as u;

.date {
  border: 1px solid #d5d5d2;
  border-radius: u.rem-calc(5);
  background: sg.color(white);
  padding: u.rem-calc(12) u.rem-calc(5);
  min-height: u.rem-calc(104);
  position: relative;
  display: block;
  text-align: center;
  width: 100%;
  cursor: pointer;

  span {
    display: block;
  }

  &__weekday {
    font-size: u.rem-calc(12);
    text-transform: uppercase;
    letter-spacing: u.rem-calc(1);
    color: sg.color(black);
  }

  &__day {
    font-size: u.rem-calc(27);
    font-weight: 700;
    margin: u.rem-calc(2) 0;
    color: sg.color(black);
  }

  &__price {
    font-size: u.rem-calc(13);
    color: #555;
    
    [data-price-prefix] {
      font-size: u.rem-calc(13);
      margin-right: u.rem-calc(4);
    }
  }

  &.active {
    border: 2px solid #ff6900;
    background: #fff6ef;
    padding: u.rem-calc(11) u.rem-calc(4);

    &::after {
      content: '✓';
      position: absolute;
      right: u.rem-calc(7);
      top: u.rem-calc(6);
      font-size: u.rem-calc(12);
      font-weight: 700;
      color: sg.color(black);
    }

    .date__price {
      color: #8c3600;
    }
  }

  &__sold_out {
    font-size: u.rem-calc(13);
    color: #555;
    margin-top: u.rem-calc(4);
  }

  &:disabled {
    opacity: 1;
    background: #f5f5f5;
    color: #929292;
    cursor: default;

    .date__price {
      color: #777;
    }
  }
}
