@use '../../../../styles/styleguide' as sg;
@use '../../../../styles/core/unit' as u;

.summary {
  display: flex;
  flex-direction: column;
  gap: sg.spacing(regular);

  &__title {
    margin: 0 0 u.rem-calc(24);
    font-family: sg.font-family(anton);
    font-size: u.rem-calc(27);
    font-weight: 400;
    text-transform: uppercase;
  }

  &__divider {
    margin: 0;
    border: none;
    border-top: u.rem-calc(1) solid sg.color(border-light);
  }

  &__data {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: u.rem-calc(20);
    font-size: u.rem-calc(14);
    margin: u.rem-calc(15) 0;
  }

  &__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: #fff;
    padding: u.rem-calc(18);
    margin: u.rem-calc(20) u.rem-calc(-10) 0;
    font-size: u.rem-calc(22);
    border-radius: u.rem-calc(4);
    
    small {
      font-size: u.rem-calc(12);
      font-weight: 400;
      display: block;
    }
  }

  &__coupons {
    display: flex;
    flex-direction: column;
    gap: sg.spacing(xsmall);
  }
}
