@use '../../styles/styleguide' as sg;
@use '../../styles/core/unit' as u;

.mobile {
  @include sg.min(tabletLandscape) {
    display: none;
  }
}

.desktop {
  display: none;

  @include sg.min(tabletLandscape) {
    display: block;
  }
}

/* ===================================================== */
/* Wizard */
/* ===================================================== */

.wizard {
  display: flex;
  flex-direction: column;
  min-height: calc(100dvh - u.rem-calc(85));

  @include sg.min(tabletLandscape) {
    min-height: calc(100dvh - u.rem-calc(65));
  }

  &__container {
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: sg.spacing(small);

    @include sg.min(tabletLandscape) {
      flex-direction: row;
    }
  }

  &__content {
    overflow: hidden;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: sg.spacing(xlarge);
    padding-block: sg.spacing(xlarge) sg.spacing(xxxxlarge);
    padding-inline: sg.spacing(regular);

    @include sg.min(laptop) {
      padding-top: sg.spacing(xxxlarge);
      padding-inline: sg.spacing(xlarge);
    }

    &--no-paddings {
      padding: 0;

      @include sg.min(laptop) {
        padding: 0;
      }
    }
  }

  &__aside {
    flex-shrink: 0;
    width: 100%;
    max-width: u.rem-calc(392);
  }
}

/* ===================================================== */
/* Popup */
/* ===================================================== */

.popup {
  $page-footer-height: u.rem-calc(61);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  display: grid;
  grid-template-rows: auto 0fr $page-footer-height;
  background-color: sg.color(white);
  transition: grid-template-rows 0.3s ease;

  &--open {
    z-index: 10;
    grid-template-rows: auto 1fr $page-footer-height;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: sg.spacing(xsmall) sg.spacing(regular);
    border-top: u.rem-calc(1) solid sg.color(border-dark);
    background-color: sg.color(carrara);
    font-family: sg.font-family(barlow);
    font-size: sg.font-size(regular);
    line-height: sg.line-height('140%');
    font-weight: sg.font-weight(700);

    svg {
      width: u.rem-calc(12);
      height: u.rem-calc(12);
    }
  }

  &__content {
    position: relative;
    overflow-y: auto;
    max-height: 85dvh;
  }

  &__actions {
    padding: sg.spacing(xsmall) sg.spacing(medium);
    border-top: u.rem-calc(1) solid sg.color(border-dark);
  }

  &__button {
    width: 100%;
  }
}
