@use '../../../../styles/styleguide' as sg;
@use '../../../../styles/core/unit' as u;

.desktop {
  display: none;

  @include sg.min(laptopSmall) {
    display: block;
  }
}

.header {
  display: none;
  font-weight: 700;
  margin: 0 u.rem-calc(16) u.rem-calc(12);

  @include sg.min(laptopSmall) {
    display: grid;
    grid-template-columns: 1fr 1.3fr 1.15fr 0.65fr 1.4fr;
    gap: u.rem-calc(12);
    align-items: center;
  }
}

.title {
  font-size: sg.font-size(regular);
  line-height: sg.line-height('120%');
  color: sg.color(black);

  @include sg.min(laptopSmall) {
    padding-inline: 0;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  gap: sg.spacing(small);
}

.error {
  margin-top: sg.spacing(regular);
  padding-inline: sg.spacing(regular);
  color: sg.color(orange);
  font-family: sg.font-family(barlow-semi-condensed);
  font-size: sg.font-size(regular);
  text-align: center;
}
